<div class="main">
    <div class="chat">
        <div class="message-form">
        <% unless @messages.blank? %>
        <% @messages.each do |message| %>
            <div class="message-container">
                <div class="message-body">
                    <ul>
                       <li><p>ユーザー名</p></li>
                        <span>
                        <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                        </span>
                        <p><%= message.content %></p>
                    </ul>
                </div>

                <div class="editor-button">
                    <ul>
                        <li><%= link_to "edit", messages_edit_path(message.id), class: "editor-button" %></li>
                        <li><%= link_to "delete", messages_destroy_path(message.id), :method => :delete, class: "delete-button" %></li>
                    </ul>
                </div>
            </div>
            <% end %>
         <% else %>
            <div class="message-body">
            <p>No message yet.</p>
            </div>
         <% end %>
         </div>
    </div>
    
    <div class="chat-form">
        <%= form_with model: @message, url: messages_create_path, id: "new_message", local: true do |f| %>
        <div class="form">
            <%= f.text_field :content, id: "chat-form" %>
            <%= f.submit "SEND" %>
        </div>
        <% end %>
    </div>
</div>